$primary: #164CA3;
$border: #1B1B1B;
$border-disabled: #DEDEDE;
$table-border: #CFD8E1;
$table-background: #FAFAFA;
$card-label: #616161;
$card-background: #E1D7FB;
$card-background-white: #F2F2F2;
$card-background-grey: #F6F6F6;
$light-blue: #B1D8FC;
$text-light-blue: #2C7CD9;
$avatar-bg: #FEF0D8;
$card-blue-bg: #C7E2FE;
$status-bg: #EFE8FA;
$avatar-border: #DEDEDE;
$white: #fff;
$text-color: #616161;
$text: #1B1B1B;
$card-border: #D9D9D9;
$text-disabled: #616161;
$heading-color: #1B1B1B;
$desc-text: #1c1c1e;
$hover-border-color: #4570b5;
$grey: #00000040;
$geek-blue: #f0f5ff;
$light-grey-background: #fafafa;
$black: #000000d9;
$light-text: #00000073;
$input-grey-background: #f5f5f5;
$shadow: #00000005;
$dark-black: #1c1c1e;
$background-overlay: #00000099;
$light-black: #1c1c1eb8;
$background-color: #00000099;
$border-color: #d9d9d9;
$scrollbar-thumb: #A1B7DA;
$scrollbar-light: #acc0e7;
$scrollbar-dark: #8cafea;
$scrollbar-track: #cedaf4;
$image-box: #ff4d4f;
$busy: #ff0000;
$vacation: #808080;
$completed: #008000;
$available: #0000ff;
$steric: #ff4d4f;
$light-green: #f6ffed;
$border-green: #b7eb8f;
$background-grey: #fafafa;
$light-red: #FFCCC7;
$light-shadow: #5958581a;
$light-grey-text: #BEBEBE;
$button-disabled: #DEDEDE;
$dark-green: #08AA29;
$light-green-toast: #E8FAEB;
$action-completed: #29811E;
$action-incomplete: #BFBFBF;
$golden: #FFD700;
$track-bar-table: #f0f0f0;
$dard-light: #1a1a1a99;
$calender-day-color: #1a1a1a9c;
$light-time-zone-text :#1A1A1A;
$date-background: #0069ff14;
$date-text-color: #0060E6;
$resource-card-title: #101828;
$resource-card-job-title: #475467;
$tag-grey-border: #EAECF0;
$tag-grey-background: #F9FAFB;
$tag-grey-text: #344054;
$tag-green-border: #ABEFC6;
$tag-green-background: #ECFDF3;
$tag-green-text: #067647;
$tag-blue-border: #B9E6FE;
$tag-blue-background: #F0F9FF;
$tag-blue-text: #026AA2;
$button-shadow: #1018280d;
$button-background-grey: #F3F6FA;
$button-border-grey: #D0DBED;
$button-text-blue: #164CA3;
$start-background-border: #D0D5DD;
$card-transparent-desc: #1D2939;
$link-text: #2B4588;
$chat-bg-sent: #DFEAFB;
$chat-bg: #F4F4F5;
$modal-desc: #51525C;
$purple: #E5ECF6;
$card-desc: #18181B;
$alert-icon-background: #FEF0C7;
$alert-icon-border: #FFFAEB;
$dard-red: #D92D20;
$warning-text: #B54708;
$warning: #FFFAEB;
$warning-tag-border: #FEDF89;
$warning-tag-bg: #FFFAEB;
$warning-tag-text: #B54708