@import '/src/styles/colors.scss';

.chat_text_fname {
    color: $text;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
}

.notification_dot {
    height: 0.5rem;
    width: 0.5rem;
    background: red;
    border-radius: 100%;
}

.chat_text {
    color: $text;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
}

.notFoundText {
    color: $card-label;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body/Info */
    font-family: Inter;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    /* 145.455% */
}

.notFountImg {
    width: 5.375rem;
    height: 5.375rem;
}

.day_text {
    color: $text;

    /* Body/Large Bold */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    /* 171.429% */
    letter-spacing: -0.07px;
}

.message_sent_div {
    background: $chat-bg-sent;


    .message_sent {
        color: $text;

        /* Body/Large 14 */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        /* 128.571% */
        letter-spacing: -0.06px;
    }


    .time_sent {
        color: $text;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Body/Info */
        font-family: Inter;
        font-size: 0.688rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
        /* 145.455% */
    }



}

.message_div {
    background: $chat-bg;

    .user_name {
        color: $text;

        /* Body/Large Bold */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        /* 171.429% */
        letter-spacing: -0.07px;
    }

    .message {
        color: $text-disabled;

        /* Body/Large 14 */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        /* 128.571% */
        letter-spacing: -0.06px;
    }



    .time {
        color: $text-disabled;
        font-feature-settings: 'liga' off, 'clig' off;

        /* Body/Info */
        font-family: Inter;
        font-size: 0.688rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
        /* 145.455% */
    }



}