@import '/src/styles/colors.scss';

.avatar {
    width: 5.75rem;
    height: 5.75rem;
}

.resource_name {
    color: $resource-card-title;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    /* 150% */
}


.resource_title {
    color: $resource-card-job-title;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.card_heading {
    color: $resource-card-job-title;

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}


.card_desc {

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    /* 133.333% */
}