@import '/src/styles/colors.scss';


.card_mini_heading {
    color: $resource-card-job-title;

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}


.card_desc {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    /* 133.333% */
}


.purple_card {
    background: $purple;
    padding: 1.5rem;

    .large_heading {
        color: $text;
        /* Display sm/Medium */
        font-family: Inter;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.375rem;
        /* 126.667% */
    }

    .small_heading {
        color: $text;
        /* Text sm/Medium */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        /* 142.857% */
    }
}

.modal_heading {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    /* 142.857% */
}


.modal_key {
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    /* 150% */
}

.modal_value {
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 150% */
}


.info {
    border-radius: 12px;
    border: 1px solid $tag-blue-border;
    background: $tag-blue-background;
    mix-blend-mode: multiply;

    .text {
        color: $tag-blue-text;

        /* Text sm/Medium */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        /* 142.857% */
    }
}